.home {
    display:flex;
    padding: 24px;
    background: #fff;
    height: 100%;
  //   min-height: 850px;
  .home-card {
    float: left;
  }
  .home-centert{
    // float: center;
    text-align: center;
    vertical-align: middle;
    width: 60%;
    margin:16px auto;
    line-height: 100px;
    position: absolute;
    top:50%;
  }
  .home-table-right {
    float: right;
    // width: 330px;
  }
  //   }
}
